:host {
    form {
        margin-top: 30px;

        h2 {
            font-size: 25px;
            margin: 20px 0;
        }

        button.btn {
            margin: 15px 25px 15px 0;
        }
    }
}